@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');


* {
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Inter', serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', serif;
  font-weight: 300;
  background-color: rgb(230, 230, 230);
  color: rgb(20, 20, 20);
  
}

button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.light {
  background-color: rgb(20, 20, 20);
  color: rgb(200, 200, 200);
}

h1 {
  line-height: 1.5;
  font-size: 24px;
  margin: 0;
  font-weight: 400;
}

h2 {
  font-size: 18px;
  margin: 0;
  font-weight: 400;
  display: flex;
  align-items: center;
}

h2 hr {
  flex-grow: 1;
  margin-left: 20px;
  height: 1px;
  background-color: rgb(200, 200, 200);
  border: none;
}

h3 {
  line-height: 1.5;
  font-size: 16px;
  margin: 0;
  margin-bottom: 2px;
  font-weight: 400;
}

p {
  line-height: 1.5;
  color: #222;
  margin: 0px 0 2px 0;
}

/* reduce the left margin of lists */
ol, ul {
  line-height: 1.5;
  padding-left: 20px; /* Adjust the value as needed */
  color: #222;
  
}

li {
  line-height: 1.5;
  margin: 0;
  color: #222;
}

a {
  color: rgb(0, 0, 170);
  
  text-decoration: none;
}

.light p {
  color: rgb(190, 190, 190);
}

.light ol, .light ul {
  color: rgb(190, 190, 190);
}

.light li {
  color: rgb(190, 190, 190);
}

.light a {
  /* lighter blue */
  color: rgb(146, 174, 255);
}

.light h2 hr {
  background-color: rgb(70, 70, 70);
}

a:hover { text-decoration: underline;}

/* layout */

.outer-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-container {
  width: 100%;
  max-width: 800px;
  padding: 20px;
}

.text-container {
  flex: 100;
  min-width: 250px;
  display: flex;
  text-align: justify;
  text-justify: inter-word;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin:10px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.subsection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;
}


/* heading and footer */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  margin-bottom: 15px;
}

.title-text {
  margin-top: 5px;
}

/* media */

.title-img {
  height: 120px;
  width: 120px;
}

.title-img * {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.light .title-img * {
  border: 1px solid rgb(50, 50, 50);
}

.project-media {
  margin: 10px;
  width: 100%;
  max-width: 165px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 3px;
  width: 100%;
  margin:auto;
  margin-top: 3px;
}

.project-media * {
  border-radius: 3px;
  width: 100%;
  margin:auto;
  margin-top: 3px;
}

/* papers */

.badge {
  display: inline-block;
  padding: 4px 8px;
  margin-top: 4px;
  margin-right: 5px;
  font-size: 0.85em;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.badge.conference {
  color: #f0f0f0;
  background-color: #6c7a89;
}

.light .badge.conference {
  color: #2c3e50;
  background-color: #d5d8dc;
}

.badge:hover {
  opacity: 0.9;
  user-select: none;
}