@import url(https://db.onlinewebfonts.com/c/6cfda2958e863ef8dc3c6ba3dd4a6ae2?family=CiutadellaW04-Bold);

@import url(https://db.onlinewebfonts.com/c/8314503f68529dc0960a6e066fc3a3c5?family=Ciutadella+Slab);

@font-face {font-family: "CiutadellaW04-Bold"; 
  src: url("https://db.onlinewebfonts.com/t/6cfda2958e863ef8dc3c6ba3dd4a6ae2.eot"); 
  src: url("https://db.onlinewebfonts.com/t/6cfda2958e863ef8dc3c6ba3dd4a6ae2.eot?#iefix") 
  format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/6cfda2958e863ef8dc3c6ba3dd4a6ae2.woff2") 
  format("woff2"), url("https://db.onlinewebfonts.com/t/6cfda2958e863ef8dc3c6ba3dd4a6ae2.woff") 
  format("woff"), url("https://db.onlinewebfonts.com/t/6cfda2958e863ef8dc3c6ba3dd4a6ae2.ttf") 
  format("truetype"), url("https://db.onlinewebfonts.com/t/6cfda2958e863ef8dc3c6ba3dd4a6ae2.svg#CiutadellaW04-Bold") 
  format("svg"); 
}
@font-face {font-family: "Ciutadella Slab"; 
  src: url("https://db.onlinewebfonts.com/t/8314503f68529dc0960a6e066fc3a3c5.eot"); 
  src: url("https://db.onlinewebfonts.com/t/8314503f68529dc0960a6e066fc3a3c5.eot?#iefix") 
  format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/8314503f68529dc0960a6e066fc3a3c5.woff2") 
  format("woff2"), url("https://db.onlinewebfonts.com/t/8314503f68529dc0960a6e066fc3a3c5.woff") 
  format("woff"), url("https://db.onlinewebfonts.com/t/8314503f68529dc0960a6e066fc3a3c5.ttf") 
  format("truetype"), url("https://db.onlinewebfonts.com/t/8314503f68529dc0960a6e066fc3a3c5.svg#Ciutadella Slab") 
  format("svg"); 
}

body {
  font-family: "CiutadellaW04-Bold";
  margin-left: 300px;
  margin-top: 350px;
  margin-right: 600px;
  text-decoration: none;
  color: white;
}

h1{
  font-size: 45px;
  cursor: default;
}

.intro:hover {
  color: rgb(255, 154, 1);
  transition-duration: 0.3s;
}

a {
  text-decoration: none;
  font-size: 27px;
}
.icon {
  width: 25px;
  height: 25px;
  color: white;
}

.link-item:hover .icon {
  color: rgb(255, 160, 35) !important;
  transform: translateX(-1.5px) rotate(-10deg);

  transition-duration: 0.5s;
}

.link-text {
  color: white !important;
  text-decoration: none;
  text-decoration-color: none;

}

.link-text:hover {
  color: rgb(255, 160, 35)  !important;
  text-decoration: none;
  text-decoration-color: none;

  transition-duration: 0.75s;

}

dt {
  margin: 15px 0;
  font-family: "Ciutadella Slab";
}

body {
  background-image: url('assets/bgv2.png');
  background-repeat: repeat;
}

.box-title{
  color: rgb(255, 160, 35)
}

.box-title:hover {
  color: rgb(255,255,255);
  transition-duration: 0.5s;
  cursor: default;


}

.box-content {
  font-family: "Ciutadella Slab";
  font-size: 27px;
}