@import url(https://db.onlinewebfonts.com/c/6cfda2958e863ef8dc3c6ba3dd4a6ae2?family=CiutadellaW04-Bold);

@font-face {font-family: "CiutadellaW04-Bold"; 
  src: url("https://db.onlinewebfonts.com/t/6cfda2958e863ef8dc3c6ba3dd4a6ae2.eot"); 
  src: url("https://db.onlinewebfonts.com/t/6cfda2958e863ef8dc3c6ba3dd4a6ae2.eot?#iefix") 
  format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/6cfda2958e863ef8dc3c6ba3dd4a6ae2.woff2") 
  format("woff2"), url("https://db.onlinewebfonts.com/t/6cfda2958e863ef8dc3c6ba3dd4a6ae2.woff") 
  format("woff"), url("https://db.onlinewebfonts.com/t/6cfda2958e863ef8dc3c6ba3dd4a6ae2.ttf") 
  format("truetype"), url("https://db.onlinewebfonts.com/t/6cfda2958e863ef8dc3c6ba3dd4a6ae2.svg#CiutadellaW04-Bold") 
  format("svg"); 
}

body {
  font-family: "CiutadellaW04-Bold";
  margin-left: 300px;
  margin-top: 350px;
  text-decoration: none;
}

h1{
  font-size: 45px;
}

a {
  text-decoration: none;
  font-size: 27px;
}
.icon {
  width: 25px;
  height: 25px;
  color: black;
}

.link-item:hover .icon {
  color: rgb(255, 160, 35) !important;
  transform: translateX(-1.5px) rotate(-10deg);

  transition-duration: 0.5s;
}

.link-text {
  color: black !important;
  text-decoration: none;
  text-decoration-color: none;

}

.link-text:hover {
  color: rgb(255, 160, 35)  !important;
  text-decoration: none;
  text-decoration-color: none;

  transition-duration: 0.75s;

}

dt {
  margin: 30px 0;
  font-family: "CiutadellaW04-Bold";
  margin-top: 50px;
}

