/* Font definitions */
@font-face {
    font-family: 'Neue Haas Grotesk';
    src: url('../neue-haas-grotesk/NHaasGroteskDSPro-55Rg.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Grotesk';
    src: url('../neue-haas-grotesk/NHaasGroteskDSPro-56It.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

html { overflow-y: scroll; }

body {
    background-color: #FFFFFC;
    color: #212a37;
    padding: 8rem;
    line-height: 1.5;
    font-family: "Neue Haas Grotesk", serif;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 1.0rem;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 10px;
}

h1 {
    font-weight: 400;
    font-size: 2.0rem;
    margin-bottom: 0.25rem;
}

h3 {
    font-weight: 500;
    font-size: 1.25rem;
    margin: 0.25rem 0;
}

a {
    color: #1b39da;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3.5px;
}

ul {
    margin-top: 0;
    margin-left: 1.5rem;
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 0rem;
    padding-left: 0;
}

.section {
    margin: 0.875rem 0;
}

.about-container {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.about-text { flex: 1; }

.back-button { margin-bottom: -1.5rem; }

.with-space {
    font-size: 0.5rem;
    margin-top: 1rem;
}

.italic { font-style: italic; }

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .about-text {
        order: 2;
        width: 100%;
        margin-top: 0;
    }
}

@media (max-width: 600px) {
    body { padding: 1rem; }
    h1 { font-size: 1.75rem; }
}